
body{
    background-color: black;
    margin: 0;
    height:100%;
}
/*********************header***************/
.header{
    display:flex;
    color:red;
    width: max-content;
    height: min-content;
    column-gap: 50px;
    align-items: center;
}
.header a{
    margin-left: 50px;
}
.header h2{
    margin-right: 730px;
}
a{
    text-decoration: none;
}
/*********** welcome page*******************/
.intro{
    display: flex;
    color: red;
        background-color: darkred;
   
}
.intro h4{
    margin:0;
    font-size: 43px;
    width: fit-content;
}
.intro p{
    color: red;
    width: fit-content;
}
.welcome{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro button{
    width:fit-content;
    height: fit-content;
}
.deadpool img{
    width: 200px;
    height: 212px;
    padding: 20px;
}
.deadpool{
    margin-left: 140px;
   }
/***********info on all the heros**********************/
.info img{
    width: 150px;
    height:150px ;
}
.info{
    display:flex;
    color: red;
    flex-flow: column;
    align-items: center;
}
.info h4{
    font-size: 50px;
    margin: 0;
    margin-bottom: 40px;
}
.Heros{
    display: flex;
    column-gap: 20px;
}
.Heros p{
    width:154px;
}
.Heros img{
    padding: 10px;
    border: 10px solid;

}
/*************quote***********/
.Quote{
    color:black;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 414px;
    font-size: 25px;
    margin-bottom: 5px;
    width: 703px;
}
.Quote p{
    padding: 5px;
}
.Quote p5{
    margin-bottom: 20px;
    padding-right: 5px;
}
/*********club***********/

.Club{
    height: 250px;
    background-color: rosybrown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join{
    height: 126px;
    background-color: rgb(94, 19, 19);
    color: white;
    width: 670px;
    padding: 18px;
}
.join p{
    font-size: 28px;
    margin: 2px;
    margin-top: 32px;
}
.join p2{
    font-size: 18px;
}
.join button{
    margin-left: 248px;
}


/**************************footer**********************/
.footer{
    color:red;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

.footer h3,.footer p{
    display: flex;
    justify-content: center;
}